<div class="content-wrapper " style="min-height: 823px;">

            
  <div class="content-header">
      <div class="container-fluid">
                  <h1>    Marketplace</h1>
      </div>
  </div>

  
  <div class="content">
      <div class="container-fluid">
              <section class="content-header">
<h1>
  Marketplace
</h1>
</section>
<div class="content">
      <div class="card box-primary">
<div class="card-header">
          <h3 class="card-title">Marketplace</h3>
      </div>
  <div class="card-body">
          <form method="POST" action="http://localhost:8000/Admin/marketplaces" accept-charset="UTF-8"><input name="_token" type="hidden" value="WbDDhPatGbgVmm7RRw4l46kd67Oq5v8IQZSVLPim">

              <!-- Marketplaceownerid Field -->
<div class="form-group col-sm-6">
<label for="MarketplaceOwnerID">Marketplaceownerid:</label>
<input class="form-control" name="MarketplaceOwnerID" type="number" id="MarketplaceOwnerID">
</div>

<!-- Name Field -->
<div class="form-group col-sm-6">
<label for="Name">Name:</label>
<input class="form-control" name="Name" type="text" id="Name">
</div>

<!-- Country Field -->
<div class="form-group col-sm-6">
<label for="Country">Country:</label>
<input class="form-control" name="Country" type="text" id="Country">
</div>

<!-- City Field -->
<div class="form-group col-sm-6">
<label for="City">City:</label>
<input class="form-control" name="City" type="text" id="City">
</div>

<!-- Supervisorphonenumber Field -->
<div class="form-group col-sm-6">
<label for="SupervisorPhoneNumber">Supervisorphonenumber:</label>
<input class="form-control" name="SupervisorPhoneNumber" type="text" id="SupervisorPhoneNumber">
</div>

<!-- Address Field -->
<div class="form-group col-sm-6">
<label for="Address">Address:</label>
<input class="form-control" name="Address" type="text" id="Address">
</div>

<!-- Taxnumber Field -->
<div class="form-group col-sm-6">
<label for="TaxNumber">Taxnumber:</label>
<input class="form-control" name="TaxNumber" type="text" id="TaxNumber">
</div>

<!-- Email Field -->
<div class="form-group col-sm-6">
<label for="Email">Email:</label>
<input class="form-control" name="Email" type="email" id="Email">
</div>

<!-- Latitude Field -->
<div class="form-group col-sm-6">
<label for="Latitude">Latitude:</label>
<input class="form-control" name="Latitude" type="text" id="Latitude">
</div>

<!-- Longitude Field -->
<div class="form-group col-sm-6">
<label for="Longitude">Longitude:</label>
<input class="form-control" name="Longitude" type="text" id="Longitude">
</div>

<!-- Companyregisterimage Field -->
<div class="form-group col-sm-6">
<label for="CompanyRegisterImage">Companyregisterimage:</label>
<input class="form-control" name="CompanyRegisterImage" type="text" id="CompanyRegisterImage">
</div>

<!-- Logo Field -->
<div class="form-group col-sm-6">
<label for="Logo">Logo:</label>
<input class="form-control" name="Logo" type="text" id="Logo">
</div>

<!-- Submit Field -->
<div class="form-group col-sm-12">
<input class="btn btn-primary" type="submit" value="Save">
<a href="http://localhost:8000/Admin/marketplaces" class="btn btn-default">Cancel</a>
</div>

          </form>
  </div>
</div>
</div>
      </div>
  </div>

</div>