<aside class="main-sidebar sidebar-light-maroon elevation-5 ">


  <div class="row justify-content-center mt-1 logo-adjust">

    <img src="assets/images/logo.png" alt="Smart Accountant Logo" class="brand-image img-fluid">

  </div>

  <a href="" class="brand-link text-center   smart-acc">
    <span class="brand-text font-weight-light font-weight-bold ">
      نظام المحاسب الذكي
    </span>
  </a>
  <div
    class="sidebar os-host os-theme-light os-host-rtl os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-transition os-host-overflow os-host-overflow-y">
    <div class="os-resize-observer-host observed">
      <div class="os-resize-observer" style="left: auto; right: 0px;"></div>
    </div>
    <div class="os-size-auto-observer observed" style="height: calc(100% + 1px); float: right;">
      <div class="os-resize-observer"></div>
    </div>
    <div class="os-padding">
      <div class="os-viewport os-viewport-native-scrollbars-invisible">
        <div class="os-content" style="padding: 0px 8px; height: 100%; width: 100%;">
          <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column pr-1 " data-widget="treeview" role="menu"
              data-animation-speed="200">
              <li class="nav-header">
                التحكم الرئيسي
              </li>
              <li class="nav-item">
                <a class="nav-link  " href="http://127.0.0.1:8000/Admin">
                  <i class="fas fa-fw fa-tachometer-alt green-tooltip " data-toggle="tooltip" data-placement="left"
                    title="الرئيسية"></i>
                  <p>
                    الرئيسية
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link  " href="http://127.0.0.1:8000/Admin/About">
                  <i class="fas fa-fw fa-code-branch " data-toggle="tooltip" data-placement="left" title="عن البرنامج">
                  </i>
                  <p>
                    عن البرنامج
                  </p>
                </a>
              </li>
              <li class="nav-header">
                الموارد البشرية
              </li>
              <li class="nav-item ">
                <a class="nav-link  " href="">
                  <i class="fas fa fa-user-tie " data-toggle="tooltip" data-placement="left" title="المشرفين">
                  </i>
                  <p>
                    المشرفين
                    <i class="fas fa-angle-left right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a class="nav-link  " href="#">

                      <i class="fas fa-fw fa-plus-circle " data-toggle="tooltip" data-placement="left" title="انشاء">
                      </i>
                      <p>
                        انشاء
                      </p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link  " href="#">

                      <i class="fas fa-fw fa-layer-group " data-toggle="tooltip" data-placement="left" title="الكل">
                      </i>
                      <p>
                        الكل
                      </p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item ">
                <a class="nav-link  " href="">
                  <i class="fas fa fa-users " data-toggle="tooltip" data-placement="left" title="الموظفين">
                  </i>
                  <p>
                    الموظفين
                    <i class="fas fa-angle-left right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a class="nav-link  " href="http://127.0.0.1:8000/Admin/employees/create">

                      <i class="fas fa-fw fa-plus-circle " data-toggle="tooltip" data-placement="left"
                        title="انشاء"></i>
                      <p>
                        انشاء
                      </p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link  " href="http://127.0.0.1:8000/Admin/employees">

                      <i class="fas fa-fw fa-layer-group " data-toggle="tooltip" data-placement="left" title="الكل">
                      </i>
                      <p>
                        الكل
                      </p>
                    </a>
                  </li>
                </ul>
              </li>

              <li class="nav-header">
                الإدارة العامة
              </li>

              <li class="nav-item ">


                <a class="nav-link  " href="">

                  <i class="fas fa fa-store " data-toggle="tooltip" data-placement="left" title="المتاجر">

                  </i>

                  <p>
                    المتاجر
                    <i class="fas fa-angle-left right"></i>

                  </p>

                </a>


                <ul class="nav nav-treeview">


                  <li class="nav-item">

                    <a class="nav-link  "  routerLink="/store-create" ><i
                        class="fas fa-fw fa-plus-circle " data-toggle="tooltip" data-placement="left"
                        title="انشاء"></i>
                      <p>
                        انشاء

                      </p>

                    </a>

                  </li>

                  <li class="nav-item">

                    <a class="nav-link  " routerLink="/stores"><i
                        class="fas fa-fw fa-layer-group " data-toggle="tooltip" data-placement="left"
                        title="الكل"></i>
                      <p>
                        الكل

                      </p>

                    </a>

                  </li>

                </ul>

              </li>

              <li class="nav-item ">


                <a class="nav-link  " href="">

                  <i class="fas fa fa-cube " data-toggle="tooltip" data-placement="left" title="المنتجات">

                  </i>

                  <p>
                    المنتجات
                    <i class="fas fa-angle-left right"></i>

                  </p>

                </a>


                <ul class="nav nav-treeview">


                  <li class="nav-item">

                    <a class="nav-link  " routerLink="/product-create"><i
                        class="fas fa-fw fa-plus-circle " data-toggle="tooltip" data-placement="left"
                        title="انشاء"></i>
                      <p>
                        انشاء

                      </p>

                    </a>

                  </li>

                  <li class="nav-item">

                    <a class="nav-link  " routerLink="/products"><i
                        class="fas fa-fw fa-layer-group " data-toggle="tooltip" data-placement="left"
                        title="الكل"></i>
                      <p>
                        الكل

                      </p>

                    </a>

                  </li>

                </ul>

              </li>

              <li class="nav-item ">


                <a class="nav-link  " href="">

                  <i class="fas fa-fw fa-sitemap " data-toggle="tooltip" data-placement="left" title="إدارة الأصناف">

                  </i>

                  <p>
                    إدارة الأصناف
                    <i class="fas fa-angle-left right"></i>

                  </p>

                </a>


                <ul class="nav nav-treeview">


                  <li class="nav-item">

                    <a class="nav-link  " href="#"><i class="fas fa-window-minimize " data-toggle="tooltip"
                        data-placement="left" title="الأصناف الرئيسة"></i>
                      <p>
                        الأصناف الرئيسة

                      </p>

                    </a>

                  </li>

                  <li class="nav-item">

                    <a class="nav-link  " href="#"><i class="fa fa-bars " data-toggle="tooltip" data-placement="left"
                        title="الأصناف الفرعية"></i>
                      <p>
                        الأصناف الفرعية

                      </p>

                    </a>

                  </li>

                </ul>

              </li>

              <li class="nav-header">
                الإدارة المالية
              </li>

              <li class="nav-item">

                <a class="nav-link  " href="#">

                  <i class="fas fa-fw fa-donate text-green" data-toggle="tooltip" data-placement="left"
                    title="الخزينة"></i>


                  <p>
                    الخزينة

                  </p>

                </a>

              </li>

              <li class="nav-item">

                <a class="nav-link  " href="#">

                  <i class="fas fa-fw fa-cash-register text-green" data-toggle="tooltip" data-placement="left"
                    title="الخزنة"></i>


                  <p>
                    الخزنة

                  </p>

                </a>

              </li>

              <li class="nav-item ">


                <a class="nav-link  " href="javascript:void(0)">

                  <i class="fas fa-fw fa-file-invoice-dollar " data-toggle="tooltip" data-placement="left"
                    title="الفواتير">

                  </i>

                  <p>
                    الفواتير
                    <i class="fas fa-angle-left right"></i>

                  </p>

                </a>


                <ul class="nav nav-treeview">


                  <li class="nav-item">

                    <a class="nav-link  " href="#"><i class="fas fa-fw fa-layer-group " data-toggle="tooltip"
                        data-placement="left" title="الكل"></i>
                      <p>
                        الكل

                      </p>

                    </a>

                  </li>

                </ul>

              </li>

              <li class="nav-item ">


                <a class="nav-link  " href="javascript:void(0)">

                  <i class="fas fa-fw fa-money-bill-alt " data-toggle="tooltip" data-placement="left" title="المصروفات">

                  </i>

                  <p>
                    المصروفات
                    <i class="fas fa-angle-left right"></i>

                  </p>

                </a>


                <ul class="nav nav-treeview">


                  <li class="nav-item">

                    <a class="nav-link  " href="#"><i class="fas fa-fw fa-cubes " data-toggle="tooltip"
                        data-placement="left" title="المصروفات"></i>
                      <p>
                        المصروفات

                      </p>

                    </a>

                  </li>

                  <li class="nav-item">

                    <a class="nav-link  " href="#"><i class="fas fa-fw fa-cubes " data-toggle="tooltip"
                        data-placement="left" title="اقسام المصروفات"></i>
                      <p>
                        اقسام المصروفات

                      </p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-header">
                التقارير والأحصائيات
              </li>
              <li class="nav-item ">
                <a class="nav-link  " href="javascript:void(0)">
                  <i class="fas fa fa-chart-pie " data-toggle="tooltip" data-placement="left" title="التقارير المالية">
                  </i>
                  <p>
                    التقارير المالية
                    <i class="fas fa-angle-left right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a class="nav-link  " href="#">

                      <i class="fas fa-fw fa-cubes " data-toggle="tooltip" data-placement="left" title="Option">
                      </i>
                      <p>
                        Option
                      </p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-header">
                الأعدادات والنسخ الأحطياتي
              </li>
              <li class="nav-item ">
                <a class="nav-link  " href="javascript:void(0)">
                  <i class="fas fa fa-cogs " data-toggle="tooltip" data-placement="left" title="الضبط">
                  </i>
                  <p>
                    الضبط
                    <i class="fas fa-angle-left right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a class="nav-link  " href="http://127.0.0.1:8000/Admin/settings">

                      <i class="fas fa-fw fa-cog " data-toggle="tooltip" data-placement="left" title="الأعدات العامة">
                      </i>
                      <p>
                        الأعدات العامة
                      </p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item ">
                <a class="nav-link  " href="javascript:void(0)">
                  <i class="fas fa fa-server " data-toggle="tooltip" data-placement="left" title="النسخ الاحتياطي">
                  </i>
                  <p>
                    النسخ الاحتياطي
                    <i class="fas fa-angle-left right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a class="nav-link  " href="#">

                      <i class="fas fa-fw fa-cubes " data-toggle="tooltip" data-placement="left" title="Option">
                      </i>
                      <p>
                        Option
                      </p>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="os-scrollbar os-scrollbar-horizontal os-scrollbar-unusable os-scrollbar-auto-hidden">
      <div class="os-scrollbar-track">
        <div class="os-scrollbar-handle" style="width: 100%; transform: translate(0px, 0px);"></div>
      </div>
    </div>
    <div class="os-scrollbar os-scrollbar-vertical os-scrollbar-auto-hidden">
      <div class="os-scrollbar-track">
        <div class="os-scrollbar-handle" style="height: 78.5797%; transform: translate(0px, 0px);"></div>
      </div>
    </div>
    <div class="os-scrollbar-corner"></div>
  </div>

</aside>