<div class="content-wrapper " style="min-height: 823px;">

            
  <div class="content-header">
      <div class="container-fluid">
                  <h1>    Product</h1>
      </div>
  </div>

  
  <div class="content">
      <div class="container-fluid">
              <section class="content-header">
<h1>
  Product
</h1>
</section>
<div class="content">
      <div class="card box-primary">
<div class="card-header">
          <h3 class="card-title">Product</h3>
      </div>
  <div class="card-body">
          <form method="POST" action="http://localhost:8000/admin/products" accept-charset="UTF-8"><input name="_token" type="hidden" value="WbDDhPatGbgVmm7RRw4l46kd67Oq5v8IQZSVLPim">

              <!-- Userid Field -->
<div class="form-group col-sm-6">
<label for="UserID">Userid:</label>
<input class="form-control" name="UserID" type="number" id="UserID">
</div>

<!-- Marketplacesid Field -->
<div class="form-group col-sm-6">
<label for="MarketplacesID">Marketplacesid:</label>
<input class="form-control" name="MarketplacesID" type="number" id="MarketplacesID">
</div>

<!-- Productcategoryid Field -->
<div class="form-group col-sm-6">
<label for="ProductCategoryID">Productcategoryid:</label>
<input class="form-control" name="ProductCategoryID" type="number" id="ProductCategoryID">
</div>

<!-- Productsubcategoryid Field -->
<div class="form-group col-sm-6">
<label for="ProductSubCategoryID">Productsubcategoryid:</label>
<input class="form-control" name="ProductSubCategoryID" type="number" id="ProductSubCategoryID">
</div>

<!-- Name Field -->
<div class="form-group col-sm-6">
<label for="Name">Name:</label>
<input class="form-control" name="Name" type="text" id="Name">
</div>

<!-- Quantity Field -->
<div class="form-group col-sm-6">
<label for="Quantity">Quantity:</label>
<input class="form-control" name="Quantity" type="number" id="Quantity">
</div>

<!-- Quantitytypeid Field -->
<div class="form-group col-sm-6">
<label for="QuantityTypeID">Quantitytypeid:</label>
<input class="form-control" name="QuantityTypeID" type="number" id="QuantityTypeID">
</div>

<!-- Purchasingprice Field -->
<div class="form-group col-sm-6">
<label for="PurchasingPrice">Purchasingprice:</label>
<input class="form-control" name="PurchasingPrice" type="number" id="PurchasingPrice">
</div>

<!-- Sellingprice Field -->
<div class="form-group col-sm-6">
<label for="SellingPrice">Sellingprice:</label>
<input class="form-control" name="SellingPrice" type="number" id="SellingPrice">
</div>

<!-- Lowprice Field -->
<div class="form-group col-sm-6">
<label for="LowPrice">Lowprice:</label>
<input class="form-control" name="LowPrice" type="number" id="LowPrice">
</div>

<!-- Image Field -->
<div class="form-group col-sm-6">
<label for="Image">Image:</label>
<input class="form-control" name="Image" type="text" id="Image">
</div>

<!-- Expirydate Field -->
<div class="form-group col-sm-6">
<label for="ExpiryDate">Expirydate:</label>
<input class="form-control" name="ExpiryDate" type="text" id="ExpiryDate">
</div>

<!-- Barcode Field -->
<div class="form-group col-sm-6">
<label for="Barcode">Barcode:</label>
<input class="form-control" name="Barcode" type="text" id="Barcode">
</div>

<!-- Unlimitedquantity Field -->
<div class="form-group col-sm-6">
<label for="UnlimitedQuantity">Unlimitedquantity:</label>
<label class="checkbox-inline">
<input name="UnlimitedQuantity" type="hidden" value="0" id="UnlimitedQuantity">
<input name="UnlimitedQuantity" type="checkbox" value="1" id="UnlimitedQuantity">
</label>
</div>


<!-- Submit Field -->
<div class="form-group col-sm-12">
<input class="btn btn-primary" type="submit" value="Save">
<a href="http://localhost:8000/admin/products" class="btn btn-default">Cancel</a>
</div>

          </form>
  </div>
</div>
</div>
      </div>
  </div>

</div>